<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <mime-mapping>
        <extension>ico</extension>
        <mime-type>image/x-icon</mime-type>
    </mime-mapping>
    <resource-ref>
        <res-ref-name>digital_library</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.front.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Details</servlet-name>
        <servlet-class>controller.front.Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.front.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrazione</servlet-name>
        <servlet-class>controller.front.Registrazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.front.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>provaconversione</servlet-name>
        <servlet-class>provaconversione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Autenticazione</servlet-name>
        <servlet-class>controller.back.Autenticazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Acquisizione</servlet-name>
        <servlet-class>controller.back.Acquisizione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PannelloTrascrittore</servlet-name>
        <servlet-class>controller.back.PannelloTrascrittore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTrascrizione</servlet-name>
        <servlet-class>controller.front.GetTrascrizione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackProfilo</servlet-name>
        <servlet-class>controller.back.BackProfilo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PannelloAmministratore</servlet-name>
        <servlet-class>controller.back.PannelloAmministratore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Utenze</servlet-name>
        <servlet-class>controller.back.Utenze</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PannelloRevisoreTrascrizioni</servlet-name>
        <servlet-class>controller.back.PannelloRevisoreTrascrizioni</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrascrizioniInRevisione</servlet-name>
        <servlet-class>controller.back.TrascrizioniInRevisione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImmaginiInRevisione</servlet-name>
        <servlet-class>controller.back.ImmaginiInRevisione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PannelloRevisoreImmagini</servlet-name>
        <servlet-class>controller.back.PannelloRevisoreImmagini</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Trascrizione</servlet-name>
        <servlet-class>controller.back.Trascrizione</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Details</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrazione</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>provaconversione</servlet-name>
        <url-pattern>/provaconversione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Autenticazione</servlet-name>
        <url-pattern>/autenticazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Acquisizione</servlet-name>
        <url-pattern>/acquisizione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PannelloTrascrittore</servlet-name>
        <url-pattern>/pannello_trascrittore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTrascrizione</servlet-name>
        <url-pattern>/gettrascrizione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackProfilo</servlet-name>
        <url-pattern>/backprofilo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PannelloAmministratore</servlet-name>
        <url-pattern>/pannello_amministratore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Utenze</servlet-name>
        <url-pattern>/utenze</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PannelloRevisoreTrascrizioni</servlet-name>
        <url-pattern>/pannello_revisore_trascrizioni</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrascrizioniInRevisione</servlet-name>
        <url-pattern>/trascrizioni_in_revisione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImmaginiInRevisione</servlet-name>
        <url-pattern>/immagini_in_revisione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PannelloRevisoreImmagini</servlet-name>
        <url-pattern>/pannello_revisore_immagini</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Trascrizione</servlet-name>
        <url-pattern>/trascrizione</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/404error</location>
    </error-page>
</web-app>
